<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- three.js --}}
    <script src="/js/cdn/three.min.js"></script>
    {{!-- fontawsome --}}
    <script src="/js/cdn/fontawsome.js"></script>

    <link rel="icon" type="image/x-icon" href="/img/favicon.png">

    <link rel="stylesheet" href="/css/style.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="threeBG" id="threeBG">
    </div>
    <div class="BG">
        <div class="dot">
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
        </div>
    </div>
    <div class="main">
        <div class="error">
            <h2 style="text-align: center;color:white">很抱歉，此頁面無法使用。</h2>
            <h2 style="text-align: center;color:white"><a href="/" style="color: rgb(185 96 50);font-size:16px">回首頁</a></h2>
        </div>
    </div>
    <script src="/js/cdn/vanta.waves.min.js"></script>

</body>

</html>