<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- three.js --}}
    <script src="/js/cdn/three.min.js"></script>
    {{!-- Vue --}}
    <script src="/js/cdn/vue.global.js"></script>
    {{!-- axios --}}
    <script src="/js/cdn/axios.min.js"></script>
    {{!-- fontawsome --}}
    <script src="/js/cdn/fontawsome.js"></script>

    <link rel="icon" type="image/x-icon" href="/img/favicon.png">

    <link rel="stylesheet" href="/css/style.css">
    {{!-- animate.css --}}
    <link rel="stylesheet" href="/css/animate.min.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="threeBG" id="threeBG">
    </div>
    <div class="BG">
        <div class="dot">
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
            <circle></circle>
        </div>
    </div>
    <div id="app" v-cloak>
        <div class="main">
            <div class="navbar">
                <div class="navlogo"><a href="../"><img src="/img/PANUKU2.png" alt=""></a></div>
            </div>
            <div class="loginctn" v-if="showSignUp">
                <div class="inputrow">
                    <input v-model="Signinfo.email" type="text" placeholder="example@gmail.com" :class="{alertborder:emaillabel}">
                    <label for="" v-show="emaillabel">*此電子郵件已有註冊帳號</label>
                </div>
                <div class="inputrow">
                    <input v-model="Signinfo.username" type="text" placeholder="用戶名稱">
                    <label for=""></label>
                </div>
                <div class="inputrow">
                    <input v-model="Signinfo.password" type="password" placeholder="密碼">
                    <label for=""></label>
                </div>
                <div class="inputrow">
                    <input v-model="Signinfo.confirmpassword" type="password" placeholder="確認密碼">
                    <label for=""></label>
                </div>
                <div class="inputrow">
                    <button @click="signupbtn" class="whitebtn" :disabled="!signbtn_available">註冊</button>
                </div>
                <div class="signupctn">
                    <h5>已經有帳號了嗎?<a href="/login">立即登入</a></h5>
                </div>
            </div>
            <div class="signUpSus" v-if="showSignUpSus">
                <h2>\{{Signinfo.email}}</h2><h2>已完成註冊<i class="fa-solid fa-circle-check"></i></h2>
                <a href="/login">立即登入</a>
            </div>
        </div>
        <div class="loading" v-if="isloading">
            <span class="spinner">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                </div>
            </span>
        </div>
        <transition name="slide">
            <div @click="signupbtn" class="alert" v-show="isshowalert">
                <h3>\{{alertMsg}}</h3>
            </div>
        </transition>
    </div>
    <script src="/js/main_signUp.js"></script>
    <script src="/js/cdn/vanta.waves.min.js"></script>

</body>

</html>